header {
    background: linear-gradient(to right, #ffa500 50%, #007bff 50%);
}

body{
    background-image: url("../images/iut_accueil.png");
    background-size: cover;
    border-color: #007bff;
}

body::before,
body::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 115px;
}

body::before {
    left: 0;
    background: linear-gradient(to bottom, #ffa500 50%, #007bff 50%);
}

body::after {
    right: 0;
    background: linear-gradient(to bottom, #007bff 50%, #ffa500 50%);
}

#logo {
    height: 100px;
    display: block;
    margin: auto;
    background-color: white;
}

#bienvenue {
    /*font-family: Syncopate;*/
    text-align: center;
    font-size: 90px;
    color: white;
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
    1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
}

footer {
    color: #007bff;
    background: linear-gradient(to right, #007bff 50%, #ffa500 50%);
}

