header {
    background-color: #007bff;
}

body{
    background-image: url("../images/iut_accueil.png");
    background-size: cover;
}

#logo {
    height: 100px;
    width: 250px;
    display: block;
    margin: auto;
}

#bienvenue {
    /*font-family: Syncopate;*/
    text-align: center;
    font-size: 90px;
}

footer {
    background-color: #ffa500;
}

