@import url('https://fonts.googleapis.com/css?family=Titillium Web');

.parent1 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.parent2 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.parent3 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

#annee {
    font-weight: bold;
    font-family: 'Titillium Web';
    background-color: #FFBB55;
    color:#B3823C;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 10px 5px 5px;
}

#groupe {
    font-weight: bold;
    font-family: 'Titillium Web';
    background-color: #7ed7f7;
    color: white;
    width: 40vh;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 10px 5px 5px;
}

#horaire {
    font-weight:bolder;
    font-family: 'Titillium Web';
    background-color: #7ed7f7;
    width: 20vh;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#matiere1 {
    font-weight: bold;
    font-family: 'Titillium Web';
    background: linear-gradient(360deg, rgba(88,69,69,1) 0%, rgba(238,212,7,1) 43%, rgba(255,229,0,1) 48%);
    border-radius: 10px;
    text-align: center;
    width: 40vh;
    height: 19vh;
}

#matiere2 {
    font-weight: bold;
    font-family: 'Titillium Web';
    background: linear-gradient(360deg, rgba(88,69,69,1) 0%, rgba(255,103,37,1) 43%, rgba(255,103,37,1) 48%);
    border-radius: 10px;
    text-align: center;
    width: 40vh;
    height: 19vh;
}

#matiere3 {
    font-weight: bold;
    font-family: 'Titillium Web';
    background: linear-gradient(360deg, rgba(88,69,69,1) 0%, rgba(255,110,241,1) 43%, rgba(255,110,241,1) 48%);
    border-radius: 10px;
    text-align: center;
    width: 40vh;
    height: 19vh;
}

#matiere4 {
    font-weight: bold;
    font-family: 'Titillium Web';
    background: linear-gradient(360deg, rgba(88,69,69,1) 0%, rgba(0,163,255,1) 43%, rgba(0,163,255,1) 48%);
    border-radius: 10px;
    text-align: center;
    width: 40vh;
    height: 19vh;
}