@import url('https://fonts.googleapis.com/css?family=Titillium Web');

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 8px;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(83,194,234,1) 50%);
    box-shadow: 0px 10px 4px -3px rgba(0,0,0,0.1);
}

header{
    width: 100%;
}

.header-bg{
    padding: 5vh;
    background-color: #e2e2e2;
}

body {
    background-color: #f8f8f8;
}

img {
    height: 90px;
}

#titre{
    font-weight: bold;
    font-family: 'Titillium Web';
    display: block;
    margin: auto;
}

#text-horaire {
    font-weight: bold;
    font-family: 'Titillium Web';
}

#text-matiere{
    font-weight: bold;
    font-family: 'Titillium Web';
}

#text-matiere-long{
    color: white;
    font-weight: bold;
    font-family: 'Titillium Web';
    font-size: 25px;
}

.container-body {
    margin-top: 2vh;
    padding-left: 7vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 0.8fr);
    grid-column-gap: 0vh;
    grid-row-gap: 0vh;
    align-items: center;
}

.container-horaire {
    grid-area: 1 / 1 / 2 / 2;
    background-color: #7ed7f7;
    width: 40vh;
    border-radius: 10px;
    text-align: center;
}

.container-matiere {
    grid-area: 2 / 1 / 3 / 2;
    background: linear-gradient(360deg, rgba(88,69,69,1) 0%, rgba(238,212,7,1) 43%, rgba(255,229,0,1) 48%);
    border-radius: 10px;
    text-align: center;
    width: 40vh;
}

.container-groupe {
    grid-area: 1 / 2 / 2 / 2;
    background-color: #7ed7f7;
    width: 40vh;
    border-radius: 10px;
    text-align: center;
}

.container-matiere2 {
    grid-area: 2 / 2 / 3 / 2;
    background: linear-gradient(360deg, rgba(88,69,69,1) 0%, rgba(238,212,7,1) 43%, rgba(255,229,0,1) 48%);
    border-radius: 10px;
    text-align: center;
    width: 40vh;
}

.container-horaire3 {
    grid-area: 1 / 4 / 2 / 3;
    background-color: #7ed7f7;
    width: 40vh;
    border-radius: 10px;
    text-align: center;
}

.container-matiere3 {
    grid-area: 2 / 4 / 3 / 3;
    background: linear-gradient(360deg, rgba(88,69,69,1) 0%, rgba(238,212,7,1) 43%, rgba(255,229,0,1) 48%);
    border-radius: 10px;
    text-align: center;
    width: 40vh;
}

.container-horaire4 {
    grid-area: 1 / 4 / 2 / 4;
    background-color: #7ed7f7;
    width: 40vh;
    border-radius: 10px;
    text-align: center;
}

.container-matiere4 {
    grid-area: 2 / 4 / 3 / 4;
    background: linear-gradient(360deg, rgba(88,69,69,1) 0%, rgba(238,212,7,1) 43%, rgba(255,229,0,1) 48%);
    border-radius: 10px;
    text-align: center;
    width: 40vh;
}

.container-boutonretour {
    width: 15vh;
    height: 15vh;
}

footer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 15vh;
    text-align: center;
}

.container-boutonretour {
    display: inline-block;
}