@import url('https://fonts.googleapis.com/css?family=Titillium Web');

.body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

#header-bg{
    padding: 5vh;
    background-color: #e2e2e2;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 8px;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(241,179,26,1) 50%);
    box-shadow: 0px 10px 4px -3px rgba(0,0,0,0.1);
}

#logo {
    height: 90px;
    width: 291px;
}

#titre {
    font-family: "Titillium Web";
    margin-right: 725px;
}

#profil {
    display: block;
    margin: auto;
}

.search h2 {
    text-align: center;
    color: #000;
    font-family: "Titillium Web";
    font-weight: bold;
    font-size: xx-large;
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-bar input {
    padding: 10px;
    font-size: 36px;
    width: 400px;
    height: 55px;
    border-color: black;
    border-radius: 10px;
    background: rgba(221, 221, 221, 0.33);
    box-shadow: 0px 4px 4px 3px rgba(104, 135, 212, 0.25);
    padding-left: 15px;
    font-family: "Titillium Web";
    transition: all 0.1s ease;
    background-color: #D9D9D9;
    font-weight: bolder;
}

.search-bar button {
    border: none;
    border-radius: 25px;
    background-color: #ffa500;
    padding: 30px 30px;
    cursor: pointer;
}

#loupe {
    height: 20px;
    width: 20px;
}

.container-boutonretour {
    position: absolute;
    bottom: 300px;
    right: 0;
    margin: 10px;
}

#arriere {
    width: 90px;
    height: 90px;
    align-self: end;
}