.body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

header {
    background-color: #ffc110;
    padding: 10px;
    text-align: center;
}


header h1 {
    color: white;
    margin: 0;
}

.search h2 {
    text-align: center;
    color: #000;
}

.search-bar {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.search-bar input {
    border: 2px solid #000;
    padding: 10px;
    font-size: 16px;
}

.search-bar button {
    border: none;
    background-color: #ffa500;
    padding: 10px 20px;
    cursor: pointer;
}

footer .back-button {
    background-color: #000;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}