@import url('https://fonts.googleapis.com/css?family=Titillium Web');

.body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

#header-bg{
    padding: 5vh;
    background-color: #e2e2e2;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 8px;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(241,179,26,1) 50%);
    box-shadow: 0px 10px 4px -3px rgba(0,0,0,0.1);
}

#titre {
    text-align: center;
    margin: 0;
    font-family: "Titillium Web";
}

#profil {
    display: block;
    margin: auto;
}

.search h2 {
    text-align: center;
    color: #000;
    font-family: "Titillium Web";
    font-weight: bold;
    font-size: xx-large;
}

.search-bar {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.search-bar input {
    border: 2px solid #000;
    padding: 10px;
    font-size: 16px;
}

.search-bar button {
    border: none;
    background-color: #ffa500;
    padding: 10px 20px;
    cursor: pointer;
}

.container-boutonretour {
    position: absolute;
    bottom: 300px;
    right: 0;
    margin: 10px;
}

#arriere {
    width: 90px;
    height: 90px;
    align-self: end;
}